$colorPrimarioA: #468C78;
$colorPrimarioB: #BF7878;
$colorSecundarioA: #A68776;
$colorFondoA: #F2EFE9;
$colorFondoB: #caab6e;
$colorSecundarioB: #B4D9C8;
$colorFuente: #000000;
$colorFuenteB: #a1fbe2;
$colorHoover: #ffffff;
