<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Como comenzar a armar tu propio compost en la comodidad de tu casa">
    <title>Somos Defensa Verde</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/environment_1995111 (1).png" type="image/png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbarColor">
            <div class="container-fluid">
                <h1><a class="navbar-brand" href="index.html">Defensa verde</a></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulNav">
                        <li class="nav-item">
                            <a class="nav-link navColor" href="quienesSomos.html">Quienes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="compost.html">Compost</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="unete.html">Unete!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="tienda.html">Nuestra tienda</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="divCentral">
            <img src="img/epuyen1.jpg" alt="Lago Epuyen" class="imgCentral">
            <h2 class="intro">En un mundo donde los efectos del cambio climático y la degradación ambiental son cada
                vez
                más
                evidentes, la promoción de prácticas sostenibles y de reciclaje se ha convertido en una necesidad
                imperante. La sostenibilidad no es solo una tendencia pasajera, sino una obligación moral y práctica
                que
                todos debemos asumir para garantizar un futuro viable para las próximas generaciones. Esta pagina
                explora
                las diversas formas en que podemos adoptar y promover estas prácticas, y el impacto positivo que
                tienen
                en nuestro planeta.</h2>
        </div>
    </header>
    <main class="container">
        <div class="container">
            <h2 class="text-center">
                Compostaje: Un Camino hacia la Sostenibilidad.
            </h2>
            <img src="img/compost.jpg" alt="compost" class="img-thumbnail imagenesCompost">
            <p class="fs-3 presentacion">
                El compostaje es una práctica milenaria que transforma los desechos orgánicos en un valioso
                recurso para
                el
                suelo. A través de un proceso natural de descomposición, restos de alimentos, hojas secas y
                otros
                materiales
                orgánicos se convierten en compost, un abono rico en nutrientes. Este artículo explorará qué es
                el
                compostaje, sus beneficios, cómo realizarlo en casa y su impacto ecológico y social.
            </p>
            <h2 class="fs-4">
                ¿Qué es el Compostaje?
            </h2>
            <p>El compostaje es el proceso biológico de descomposición y reciclaje de materia orgánica, como
                restos de
                comida y residuos de jardín, en un material parecido al humus. Este proceso es llevado a cabo
                por
                microorganismos como bacterias y hongos, así como por lombrices y otros invertebrados, que
                descomponen
                la
                materia orgánica en presencia de oxígeno.</p>
            <h2 class="fs-4">Beneficios del Compostaje</h2>
            <ol>
                <li>
                    <b>Ahorro de Costos:</b> El compostaje reduce la necesidad de comprar fertilizantes
                    comerciales, lo
                    que
                    puede
                    resultar en ahorros significativos para los hogares y las comunidades.
                </li>
                <li><b>Educación y Conciencia Ambiental:</b> El compostaje puede servir como una herramienta
                    educativa,
                    enseñando
                    a los niños y adultos sobre la importancia de la gestión de residuos y la sostenibilidad.
                </li>
                <li>
                    <b>Fomento de la Comunidad:</b> Muchas comunidades tienen programas de compostaje que
                    promueven la
                    participación ciudadana y fortalecen los lazos comunitarios.
                </li>
            </ol>
            <h2 class="fs-4">¿Cómo Hacer Compost en Casa?</h2>
            <ol>
                <li><b>Contenedor de Compostaje:</b> Puede ser un contenedor comprado o una estructura hecha en
                    casa. Lo
                    importante es que
                    tenga una buena ventilación y esté protegido de la lluvia excesiva.</li>
                <li><b>Residuos Orgánicos:</b> Se dividen en "verdes" y "marrones". Los residuos verdes incluyen
                    restos
                    de
                    frutas y
                    verduras, posos de café y recortes de césped. Los residuos marrones incluyen hojas secas,
                    ramas
                    pequeñas, y
                    papel sin tintar.</li>
            </ol>
            <h2 class="fs-4">Pasos para el Compostaje</h2>
            <ol>
                <li><b>Preparar el Contenedor:</b> Coloca una capa de material marrón en el fondo del
                    contenedor.</li>
                <li><b>Añadir Residuos:</b> Alterna capas de residuos verdes y marrones. Asegúrate de que las
                    capas
                    verdes
                    no sean
                    demasiado gruesas para evitar malos olores.</li>
                <li><b>Mantener el Compost:</b> Revuelve la mezcla cada pocas semanas para proporcionar oxígeno
                    y
                    acelerar
                    el proceso
                    de
                    descomposición. Mantén el compost húmedo pero no empapado.</li>
                <li><b>Esperar y Utilizar:</b> Dependiendo de las condiciones, el compost estará listo en unos
                    meses.
                    Sabrás
                    que está
                    listo
                    cuando tenga un color oscuro, una textura desmenuzable y un olor a tierra.</li>
            </ol>
            <h2 class="fs-4">Impacto Ecológico y Social del Compostaje</h2>
            <p>El compostaje no solo reduce la cantidad de residuos sólidos en los vertederos, sino que también
                ayuda a
                combatir el cambio climático al disminuir la emisión de gases de efecto invernadero. Además,
                promueve la
                agricultura sostenible al reducir la dependencia de fertilizantes químicos y mejorar la salud
                del suelo.
                A nivel social, el compostaje puede ser una actividad comunitaria que une a las personas en
                torno a un
                objetivo
                común de sostenibilidad. También sirve como una herramienta educativa poderosa para enseñar a
                las
                futuras
                generaciones sobre la importancia de la gestión de residuos y la protección del medio ambiente.
            </p>
            <h2>Conclusión</h2>
            <p class="parrafo">El compostaje es una práctica simple y efectiva que puede tener un impacto significativo
                en nuestro entorno y
                comunidad. Al convertir los residuos orgánicos en un recurso valioso, no solo mejoramos la salud
                de nuestros suelos y plantas, sino que también contribuimos a un planeta más limpio y sostenible. Así
                que ¡anímate a comenzar tu propio compostaje en casa y sé parte del cambio hacia un futuro más verde!
            </p>
        </div>
    </main>
    <footer>
        <p class="footer">&copy; Marianela Sotelo - Coderhouse 2024</p>
    </footer>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js.map"></script>
</body>

</html>