<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La tienda de productos sustentables de Defensa Verde">
    <title>Somos Defensa Verde - tienda</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/environment_1995111 (1).png (1).png (1).png" type="image/png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbarColor">
            <div class="container-fluid">
                <h1><a class="navbar-brand" href="index.html">Defensa verde</a></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulNav">
                        <li class="nav-item">
                            <a class="nav-link navColor" href="quienesSomos.html">Quienes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="compost.html">Compost</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="unete.html">Unete!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="tienda.html">Nuestra tienda</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="divCentral">
            <img src="HD-wallpaper-iguazu-waterfall (1).jpg" alt="Cataratas del Iguazu" class="imgCentral">
            <h2 class="intro">En un mundo donde los efectos del cambio climático y la degradación ambiental son cada
                vez
                más
                evidentes, la promoción de prácticas sostenibles y de reciclaje se ha convertido en una necesidad
                imperante. La sostenibilidad no es solo una tendencia pasajera, sino una obligación moral y práctica
                que
                todos debemos asumir para garantizar un futuro viable para las próximas generaciones. Esta pagina
                explora
                las diversas formas en que podemos adoptar y promover estas prácticas, y el impacto positivo que
                tienen
                en nuestro planeta.</h2>
        </div>
    </header>
    <div class="container">
        <h2 class="subtitulos">En <strong>Defensa Verde</strong>, nos dedicamos a promover un estilo de vida sostenible,
            ofreciendo
            productos que cuidan el
            planeta y mejoran tu entorno. Nuestra tienda online es un espacio donde puedes encontrar artículos
            ecológicos, reciclados y prácticos, todos diseñados para ser respetuosos con el medio ambiente.</h2>
        <p>
            <strong>IMPORTANTE:</strong>Todos nuestros sustratos y preparados enriquecidos vienen en paquetes de 15Kg.
            Nuestras plantas fueron cultivadas en ellos proporcionandoles una excelente nutricion!
        </p>
        <div class="tienda">
            <div class="card" style="width: 18rem;">
                <img src="maceta1.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceta de Fibra de Coco chata</h5>
                    <p class="card-text"> <strong> VALOR $8.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="maceta2.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceta de Fibra de Coco picuda</h5>
                    <p class="card-text"><strong> VALOR $12.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="maceta3.jpg" class="card-img-top" alt="maceta">
                <div class="card-body">
                    <h5 class="card-title">Maceta rotomoldeada grande</h5>
                    <p class="card-text"><strong> VALOR $18.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="sustrato1.jpg" class="card-img-top" alt="sustrato">
                <div class="card-body">
                    <h5 class="card-title">Sustrato enriquecido </h5>
                    <p class="card-text"><strong> VALOR $5.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="sustrato2.jpg" class="card-img-top" alt="sustrato">
                <div class="card-body">
                    <h5 class="card-title">Sustrato enriquecido especial </h5>
                    <p class="card-text"><strong> VALOR $7.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="sustrato3.jpg" class="card-img-top" alt="perlita">
                <div class="card-body">
                    <h5 class="card-title">Perlita</h5>
                    <p class="card-text"><strong> VALOR $9.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="monster.jpg" class="card-img-top" alt="monstera">
                <div class="card-body">
                    <h5 class="card-title">Monstera desarrollada </h5>
                    <p class="card-text"><strong> VALOR $18.000</strong></p>
                    <a href="#" class="btn btn-primary botonTienda">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="jazmin.jpg" class="card-img-top" alt="jazmin">
                <div class="card-body">
                    <h5 class="card-title">Jazmin de leche joven</h5>
                    <p class="card-text"><strong> VALOR $5.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="palodeagua.jpg" class="card-img-top" alt="palo de agua">
                <div class="card-body">
                    <h5 class="card-title">Palo de Agua</h5>
                    <p class="card-text"><strong> VALOR $10.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="Dieffenbachia.jpg" class="card-img-top" alt="Dieffenbachia">
                <div class="card-body">
                    <h5 class="card-title">Dieffenbachia joven</h5>
                    <p class="card-text"><strong> VALOR $22.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="estrellaFederal.jpg" class="card-img-top" alt="Estrella federal">
                <div class="card-body">
                    <h5 class="card-title">Estrella Federal</h5>
                    <p class="card-text"><strong> VALOR $14.000</strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="bolsa.jpg" class="card-img-top" alt="bolsa">
                <div class="card-body">
                    <h5 class="card-title">Bolsa ecologica</h5>
                    <p class="card-text"> <strong> VALOR $8.000
                            <br> Puedes personalizarla con tu nombre!
                        </strong></p>
                    <a href="#" class="btn btn-primary">Añadir al carrito</a>
                </div>
            </div>

        </div>
    </div>
    <div>
        <h3 class="fs-4 text-center">
            Puedes acercarte a nuestra sucursal ubicada en la siguiente direccion:
        </h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.5686276311762!2d-58.782098290965244!3d-34.64033987282827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc95b26a124ba9%3A0x7c8c5a7546f333e0!2sBouchard%201371%2C%20B1744AMC%20Moreno%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1729808670551!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <footer>
        <p class="footer">&copy; Marianela Sotelo - Coderhouse 2024</p>
    </footer>
</body>

</html>