<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nuestra pagina de registro al servicio de recoleccion de defensa verde">
    <title>Somos Defensa Verde - Unete</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/environment_1995111 (1).png (1).png" type="image/png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbarColor">
            <div class="container-fluid">
                <h1><a class="navbar-brand" href="index.html">Defensa verde</a></h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ulNav">
                        <li class="nav-item">
                            <a class="nav-link navColor" href="quienesSomos.html">Quienes somos?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="compost.html">Compost</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="unete.html">Unete!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navColor" href="tienda.html">Nuestra tienda</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="divCentral">
            <img src="img/salinasf.jpg" alt="Salinas de Jujuy" class="imgCentral">
            <h2 class="intro">En un mundo donde los efectos del cambio climático y la degradación ambiental son cada
                vez
                más
                evidentes, la promoción de prácticas sostenibles y de reciclaje se ha convertido en una necesidad
                imperante. La sostenibilidad no es solo una tendencia pasajera, sino una obligación moral y práctica
                que
                todos debemos asumir para garantizar un futuro viable para las próximas generaciones. Esta pagina
                explora
                las diversas formas en que podemos adoptar y promover estas prácticas, y el impacto positivo que
                tienen
                en nuestro planeta.</h2>
        </div>
    </header>
    <div class="container">
        <h2 class="fs-3 presentacion">¡Bienvenidos! Hoy desde DEFENSA VERDE queremos presentarles una iniciativa que
            facilita el reciclaje desde
            la
            comodidad de su hogar.
            Nuestro servicio de recolección de residuos reciclables a domicilio está diseñado para hacer el reciclaje
            más
            accesible y eficiente, contribuyendo significativamente a la protección del medio ambiente.</h2>
        <h3>Objetivo:</h3>
        <p>Promover el reciclaje en nuestra comunidad mediante un servicio de recolección a domicilio, asegurando
            que
            sus residuos reciclables sean gestionados de manera adecuada y contribuyendo a un medio ambiente más
            limpio
            y sostenible.</p>
        <h2>¿Cómo Funciona el Servicio?</h2>
        <h4>Registro de Datos:</h4>
        <ul>
            <li>Nombre Completo: Identificar a la persona responsable.</li>
            <li>Dirección: Lugar donde se recogerán los residuos.</li>
            <li>Número de Contacto: Facilitar la comunicación.</li>
            <li>Tipo de Residuos: Indicar los materiales reciclables que se desean recoger (papel, plástico, vidrio,
                metal,etc). </li>
        </ul>
        <h2>Programación de la Recolección:</h2>
        <ul>
            <li>Frecuencia: Indicar la periodicidad de la recolección (semanal, quincenal, mensual).</li>
            <li>Horario Preferido: Seleccionar un horario conveniente para la recolección.
                Comunicación:</li>
            <li>Confirmación: Nuestro equipo se pondrá en contacto para confirmar la fecha y hora de la recolección.
            </li>
            <li>Recordatorio: Un recordatorio previo al día de la recolección para asegurar que los residuos estén
                listos.
            </li>
            <li>Recolección: Un equipo especializado pasará por su domicilio en la fecha y hora acordadas.</li>
            <li> Los residuos serán transportados de manera segura a nuestras instalaciones de reciclaje.</li>
        </ul>
        <h3>Reciclaje:</h3>
        <ul>
            <li>Procesamiento: Los materiales serán clasificados y reciclados adecuadamente.</li>
            <li>Informe: Opcionalmente, puede solicitar un informe sobre el destino final de sus residuos.</li>
        </ul>
        <h3>Beneficios del Servicio:</h3>
        <ul>
            <li>No necesita desplazarse para reciclar.</li>
            <li>Contribución Ambiental: Ayuda a reducir la cantidad de residuos que terminan en vertederos.</li>
            <li>Educación: Fomenta la práctica del reciclaje en su hogar y comunidad.</li>
            <li>Transparencia: Puede conocer el destino final de sus residuos reciclables. </li>
        </ul>
        <h3>¡Únase a nosotros en esta misión de reciclaje y sostenibilidad! Al dejar sus datos y programar una
            recolección,
            está dando un paso importante hacia un futuro más limpio y saludable para todos.</h3>

        <form action="text" class="formulario">
            <legend>Registrese!</legend>
            <fieldset>
                <div class="grupo"><label for="firstname">Nombres</label>
                    <input type="text" name="name" id="nombres" required>
                </div>
                <div class="grupo"><label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="apellido" required>
                </div>
                <div class="grupo"><label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </div>
                <div class="grupo"><label for="age">Edad</label>
                    <input type="number" name="age" id="edad">
                </div>
                <div class="grupo"><label for="cell number">N° de Telefono</label>
                    <input type="number" name="cell phone" id="telefono" required>
                </div>
                <div class="grupo"><label for="adress">Direccion</label>
                    <input type="text" name="adress" id="direccion" required>
                </div>
                <div class="grupo" id="materiales"><label for="materials">Residuos</label>
                    <input type="text" name="reciduos" id="materials" required>
                </div>
                <div class="grupo" id="ultimacolumna">
                    <input type="submit" value="Registrarse">
                </div>
            </fieldset>
        </form>
    </div>
    <footer>
        <p class="footer">&copy; Marianela Sotelo - Coderhouse 2024</p>
    </footer>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>